config INFINIBAND_VIRTIO_RDMA
	tristate "VirtIO Paravirtualized RDMA Driver"
	depends on NETDEVICES && ETHERNET && PCI && INET
	---help---
	  This driver provides low-level support for VirtIO Paravirtual
	  RDMA adapter.
